<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
<div class="star-container">
    <div class="crop"
        [style.width.px]="cropWidth"
        [title]="rating">
        <div style="width: 100px">
            <span class="material-symbols-outlined">grade</span>
            <span class="material-symbols-outlined">grade</span>
            <span class="material-symbols-outlined">grade</span>
            <span class="material-symbols-outlined">grade</span>
            <span class="material-symbols-outlined">grade</span>
        </div>
    </div>
    <div class="behind-star">
        <span class="material-symbols-outlined">grade</span>
        <span class="material-symbols-outlined">grade</span>
        <span class="material-symbols-outlined">grade</span>
        <span class="material-symbols-outlined">grade</span>
        <span class="material-symbols-outlined">grade</span>
    </div>
</div>
